*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.navegadorHead{
    font-size: 25px;
    word-spacing:  15px;
    background-color:  rgb(159, 255, 255);
    width: normal;
    height: normal;
    display: inline-block;
    padding:18px;
}

.cuerpo-Noticia{
    background-color: black;
    display: flex;
    flex-direction: column;
 }