.footer-general {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 50px;
	max-width: 100%;
	.box-5 {
		grid-column: 1/4;
		background-color: #2b2a29;
		width: 100%;
	}
}
.box-5 {
	ul {
		display: flex;
		justify-content: space-around;
		list-style: none;
		text-align: center;
		margin-top: 23px;
	}
	a {
		text-decoration: none;
		color: aliceblue;
	}
}