@media (max-width: 576px) {
	.animated {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, 1fr);
		grid-template-areas: "img-lol img-lol img-lol img-lol" "img-lol img-lol img-lol img-lol" "img-cs img-cs img-cs img-cs" "img-cs img-cs img-cs img-cs" "img-val img-val img-val img-val" "img-val img-val img-val img-val";
	}
	.img-lol {
		grid-area: img-lol;
		justify-self: center;
		padding-bottom: 25px;
	}
	.img-cs {
		grid-area: img-cs;
		padding-bottom: 25px;
		justify-self: center;
		align-self: center;
		img {
			width: 300px;
		}
	}
	.img-val {
		grid-area: img-val;
		justify-self: center;
		padding-bottom: 25px;
	}
}